@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
}

.navBar {
  background: linear-gradient( 109.4deg,  rgba(69,127,202,1) 3.6%, rgba(23,77,145,1) 94.9% );;
  height: 5em;
  -webkit-box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
  -moz-box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
  box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
  color: white;
  text-align: center;
}
.logo h1 {
  font-size: 50px;
  padding-top: 0.15em;
  letter-spacing: 1.5px;
  display: inline-block;
}

.logo {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
}

.logo img {
  font-size: 50px;
  margin-top: 0.21em;
  letter-spacing: 1.5px;
  display: inline-block;
  margin-right: 10px;
}

#nav-bar-button {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}

.dashboard {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: center;
}

.dashboard h3 {
  font-weight: 500;
  font-size: 40px;
}

.linkToPage {
  display: inline-block;
  position: relative;
  width: 540px;
  height: 360px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 35px;
  opacity: 0.70;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.linkToPage:hover {
  opacity: 1.0;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.pageLinkImage {
  width: 540px;
  height: 360px;
  border-radius: 35px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px 2px #6d6d6d; /* mark the inset */
}

.imageLinkText {
  position: absolute;
  bottom: 5px;
  left: 30px;
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.756);
  color: white;
}

#new-student-button {
  margin-top: 5px;
  display: block;
}

.studentList {
  margin-top: 1em;
  margin-left: 5%;
  width: 40%;
  min-height: 85vh;
  display: inline-block;
  border-right: 1px solid rgb(176, 176, 176);
}

.student-list-heading {
  border-bottom: 1px solid rgb(176, 176, 176);
  margin-right: 10%;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.studentList h3 {
  display: inline-block;
}

#add-new-button {
  float: right;
  margin-top: 1%;
  margin-right: 5px;
  
}



h3 {
  font-weight: 500;
  font-size: 40px;
}


.studentCard {
  background: rgb(227, 227, 227);
  height: 50px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px #bbbbbbde; /* mark the inset */
  display: block;
  margin-right: 1%;
  margin-bottom: 20px;
}

.studentCard:hover {
  background: rgb(55, 112, 186);
  color: white;
}

.studentCard img {
  margin-right: 10px;
  margin-left: 4%;
  margin-top: 7px;
  float: left;
  border: 1px solid #1f569c;
  border-radius: 25%;
}

.studentCard h5 {
  float: left;
  padding-top: 13px;
  margin-left: 3px;
  font-size: 20px;
}

.information-section {
  float: right;
  margin-top: 1em;
  width: 50%;
}

.student-details {
  text-align: center;
  width: 90%;
  display: inline-block;
}



.student-details h4 {
  font-size: 30px;
  margin-top: 3%;
}

.student-details p {
  font-size: 24px;
  margin-top: 3%;
  margin-bottom: 30px;
}

.student-info-image {
  width: 35%;
  height: 35%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 50%;
  border: 3px solid rgb(55, 112, 186);
}

.studentCard h5:hover {
  text-decoration: underline;
  color: white;
}


.assignmentList {
  margin-top: 1em;
  margin-left: 5%;
  margin-right: 3%;
  width: 80%;
  display: inline-block;
}

.assignmentCard {
  background: rgb(227, 227, 227);
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px #bbbbbbde; /* mark the inset */
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 20px;
}

.assignmentCard:hover {
  background: rgb(55, 112, 186);
  color: white;
}

.assignmentCard h4 {
  display: inline-block;
  padding-top: 15px;
  margin-left: 15px;
  font-size: 18px;
}

.assignmentCard h4:hover {
  text-decoration: underline;
}

.assignmentCard h6 {
  float: right;
  padding-top: 18px;
  margin-right: 15px;
  font-size: 14px;
}

form {
  margin-top: 5%;
}

form input {
  margin-bottom: 25px;
  border-radius: 5px;
  display: block;
  height: 40px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 10px;
}

input::placeholder {
  padding-left: 10px;
}

#submit-button {
  width: 30%;
  height: 40px;
}


#modify-student-button {
  margin-bottom: 20px;
  width: 150px;
  margin-left: 2%;
  margin-right: 2%;
}

#close-modal-button {
  width: 100px;
}

.section-title {
  margin-bottom: 15px;
}

#modify-assignment-button {
  margin-bottom: 20px;
  width: 145px;
  margin-left: 10px;
  margin-right: 10px;
}







